:root {
	--f7-theme-color: #536390;
	--f7-theme-color-shade: #302AE6;
	--f7-theme-color-tint: #292922;
	--font-color: #fff;
	--f7-theme-color-rgb: 0, 0, 255;
}

[data-theme="dark"] {
	--f7-theme-color: #818cab;
	--f7-theme-color-shade: #9A97F3;
	--f7-theme-color-tint: #818cab;
	--font-color: #fff;
	--f7-theme-color-rgb: 0, 0, 255;
}

.button-raised {
	background-color: var(--f7-theme-color);
	color: var(--font-color) !important;
}

.navbar-inner {
	background-color: var(--f7-theme-color);
}

.loading {
	background-image: url("../images/loading.png");
	background-size: 320px;
}

.center {
	justify-content: space-around;
}

.responsive {
	max-width: 100%;
	height: auto;
	overflow: hidden;
}